@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    a:hover {
        color: #34D399; 
        text-decoration: underline;
        font-weight: bold;
}
#formissue {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }
  @media print{
    body * {
      visibility: hidden;
    }
    .orderConformationContainer * {
      visibility: visible;
    }
    .orderConformationContainer {
      position: absolute;
      left: 0;
      top: 0;
    }
  }


}